# CDP Configuration for the main app
EXPO_PUBLIC_CDP_PROJECT_ID=your-project-id-here
EXPO_PUBLIC_CDP_CREATE_ETHEREUM_ACCOUNT_TYPE=smart
EXPO_PUBLIC_CDP_CREATE_SOLANA_ACCOUNT=false
EXPO_PUBLIC_CDP_BASE_PATH=https://api.cdp.coinbase.com/platform
EXPO_PUBLIC_USE_MOCK=false
EXPO_PUBLIC_NATIVE_OAUTH_CALLBACK=cdp-rn-demo://callback